<div class="container">
  <div class="text-center mb-3">
    <button class="btn btn-primary" id="scraper">
      <span>
        Get New Articles <i class="fas fa-sync" id="newIcon"></i> <img src="/assets/img/loader.svg" aria-hidden="true" alt="loading" id="loader">
        </span>
    </button>{{#unless all}}
        <a href="/all" class="btn btn-primary">View All Articles <i class="fas fa-book-open"></i></a>
      {{/unless}}
  </div>
  <div class="card mb-2">
    <div class="card-header">
      <h5 class="card-title text-center pb-0 mb-0">
        Articles
      </h5>
    </div>
    <div >
      <ul class="list-group list-group-flush">
        {{#each articles}}
        <li class="list-group-item">
        <div class="media">
          <img class="mr-3" src={{img}} alt="Article Image">
          <div class="media-body">
            <h5 class="mt-0">{{title}}</h5>
            <p>{{summary}}</p>
            <a href={{link}} target="_blank" class="btn btn-block btn-info btn-sm text-center">See Article
              <i class="fas fa-arrow-right"></i>
            </a>
            <button class="btn btn-block btn-sm btn-secondary comment-btn" data-id={{_id}}>View Comments
              <i class="fas fa-comment-alt"></i>
            </button>
          </div>
        </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="/assets/js/app.js"></script>